<!DOCTYPE html>
<html lang="en" ng-app="galery">
  <head>
    <!--
                  ___====-_  _-====___
           __--^^^      //     \\     ^^^--_
          _-^         // (    ) \\         ^-_
         -           //  |\^^/|  \\           -
       _/           //   (0::0)   \\            \_
      /            ((     \\//     ))             \
    -               \\    (oo)    //               -
   -   MOM           \\  / \/ \  //                 -
  -                   \\/      \//                   -
/ /|           /\      (        )      /\           |\ \
|/ | /\_/\_/\_/  \_/\  (   /\   )  /\_/  \_/\_/\_/\ | \|
`  |/  V  V  `    V  \_(| |  | |)_/  V    '  V  V  \|  '
   `   `  `       `   / | |  | | \   '       '  '   '
                    <(  | |  | |  )>
                   <__\_| |  | |_\__>
                   ^^^^ ^^^  ^^^ ^^^^^

                   NICE TATTOO FAGGOT

    -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- fb's crap -->
    <meta property="og:site_name" content="Pickled Brain Tattoo Studio"/>
    <meta property="og:title" content="Pickled Brain Tattoo Studio - Belgrade" />
    <meta property="og:url" content="http://www.pickled-brain.com" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://www.pickled-brain.com/images/og-image-main.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:description" content="Dugogodišnje iskustvo u radu i prijatan ambijent u centru Beograda. Takodje ono što nas izdvaja od kunkurencije je i pristupačnija cena naših tetovaža. Imamo ogroman izbor već gotovih crnobelih i kolor motiva (šablona) za tetoviranje kao i raznih tribala, ali svojim klijentima uvek savetujemo da osmisle originalan motiv. Naravno tu smo da vam pri tome pomognemo i osmislimo potpuno novi dizajn uz vaše sugestije kako bi finalna tetovaža bila 100% zadovoljavajulća. Pozovite nas za više informacija." />

    <title>Pickled Brain Tattoo Studio - Belgrade</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/pickled_brain_main.css">

    <!-- font -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:700,400' rel='stylesheet' type='text/css'>

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>


  <!-- fb's crap -->
    <div id="fb-root"></div>
    <div class="container main-background">
        <div class="row pre-nav">
             <div ng-controller="AppCtrl">
                <ul ng-controller="Ctrl" class="lang-switcher">
                    <li><img src="images/sr_flag.png" alt="Postavi Srpski kao jezik sajta" ng-click="on(); changeLanguage('sr')" ng-hide="showButton()"></li>
                    <li><img src="images/en_flag.png" alt="Set English as lang" ng-click="off(); changeLanguage('en')" ng-show="showButton()"></li>
                </ul>
            </div>
        </div>
        <article class="row portfolio-item" ng-controller="GaleryControler as galery">
            <div class="col-md-6 col-sm-4 col-lg-6 portfolio-item ">
                <img src="images/logo-main.svg" alt="Pickled Brain Main Logo" class="main-logo">
            </div>
            <!-- gallery -->
            <a href="{{product.src}}" class="portfolio-link col-md-3 col-sm-4 col-lg-3 portfolio-item" data-toggle="lightbox" data-gallery="multiimages" data-title="{{product.name}}" ng-repeat="product in galery.products">
                <img src="images/loader.gif" class="img-responsive" alt="{{product.name}}" width="500" height="500" data-original="{{product.url}}">
            </a>

        </article> <!-- /galery -->
        <!-- contact row -->
        <section class="row contact">
            <div class="contact">
                <div class="col-md-6 col-sm-12 col-lg-6">
                    <div itemscope itemtype="http://schema.org/LocalBusiness" class="padding">
                        <h2>{{ 'Contact_us_title' | translate }}</h2>
                        <p>{{ 'Contact_us_text' | translate }}</p>
                        <p>INFO:</p>
                        <ul>
                            <li><p><span itemprop="name">Pickled Brain Tattoo Studio</span> <br></li>
                            <li>Phone : <span itemprop="telephone">+ 381 63 8979099</span></li>
                            <li>Email : <span itemprop="email">studio(at)pickled-brain.com</span></li>
                            <li itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">Adress:
                                <span itemprop="streetAddress"><a href="https://www.google.rs/maps/place/Pariska,+Beograd/@44.819699,20.4527503,17z/data=!3m1!4b1!4m2!3m1!1s0x475a654c1a3cd10b:0x995e93123f6df2d6?hl=en" target="_blank" hasMap>Pariska 13</a></span>,
                                <span itemprop="postalCode">11000</span>
                                <span itemprop="addressLocality"> Belgrade, Serbia</li>
                        </ul>

                        <p>{{ 'Contact_us_workh' | translate }}</p>

                        <ul>
                            <li>{{ 'Contact_us_workh_line1' | translate }}</li>
                            <li>{{ 'Contact_us_workh_line2' | translate }}</li>
                        </ul>
                        <ul class="social-links">
                            <li>
                                <a href="https://www.facebook.com/PickledBrainTattooStudio" target="_blank"><i class="fa fa-facebook"></i></a>
                                <a href="https://plus.google.com/+PickledBrainTattooBeograd/posts" target="_blank"><i class="fa fa-google-plus"></i></a>
                            </li>
                        </ul>

                    </div>
                </div>

                <!-- contact form -->
                <div class="col-md-6 col-sm-12 col-lg-6">
                    <div ng-controller="ContactController" class="contact-form">
                        <form ng-submit="submit(contactform)" name="contactform" method="post" action="" class="form-horizontal" role="form">
                            <div class="form-group" ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
                                <div class="col-lg-12">
                                    <input ng-model="formData.inputName" type="text" class="form-control" id="inputName" name="inputName" placeholder="{{ 'Contact_us_form_name' | translate }}" required>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
                                <div class="col-lg-12">
                                    <input ng-model="formData.inputEmail" type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="{{ 'Contact_us_form_email' | translate }}" required>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
                                <div class="col-lg-12">
                                    <textarea ng-model="formData.inputMessage" class="form-control" rows="4" id="inputMessage" name="inputMessage" placeholder="{{ 'Contact_us_form_message' | translate }}" required></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="submitButtonDisabled">
                                        {{ 'Contact_us_form_button' | translate }}
                                    </button>
                                </div>
                            </div>
                        </form>
                        <p ng-class="result" style="padding: 15px; margin: 0;">{{ resultMessage }}</p>
                    </div>
                </div> <!-- /contact form-->
            </div>
        </section> <!-- /contact -->
        
        <div class="container" style="margin-bottom: 80px;">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="text-center">{{ 'Supply_title' | translate }}</h2>
                    <img src="images/supply-logos.png" alt="Tattoo Supplys" class="center-block">
                </div>
            </div>
        </div>

        <!-- about -->
        <div class="container container-xs-height about">
            <div class="row row-xs-height">
                <div class="col-md-4 col-sm-4 col-lg-4 col-xs-height" id="bg-fade" style="background-size:auto auto; background-image:url('images/bg0.jpg')">
                    <div class="item"><div class="content"></div></div>
                </div>
                <div class="col-md-4 col-sm-4 col-lg-4 col-xs-height col-top" style="background: url('images/image2.jpg') no-repeat center center">
                    <div class="item"><div class="content"></div></div>
                </div>
                <div class="col-md-4 col-sm-4 col-lg-4 col-xs-height col-middle about-text">
                    <div class="item">
                        <div class="content">
                            <h3>{{ 'About_header' | translate }}</h3>
                            <p>{{ 'About_text1' | translate }}</p>
                            <p>{{ 'About_text2' | translate }}</p>
                            <p>{{ 'About_text3' | translate }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /about-->


        <section class="row map">
            <div id="map" class="map"></div>
        </section>
        <div class="row social">
            <div class="col-lg-9 col-lg-offset-3">
                <div class="fb-like" data-href="https://www.facebook.com/PickledBrainTattooStudio" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
            </div>
        </div>


    </div> <!-- /container -->

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/minified.js"></script>

    <!-- app and controlers -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>

    <script src="js/everything-else.js"></script>

    <!-- fb's crap again -->
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=727269557292786&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!-- google's crap-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-3858724-19', 'auto');
      ga('send', 'pageview');

    </script>

  </body>
</html>