//custom boostrap variables so bower sleeps better
@import '_variables.scss';

// components css
@import '../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss';
@import '../../bower_components/leaflet/dist/leaflet.css';
@import '../../bower_components/font-awesome-sass/assets/stylesheets/font-awesome.scss';


body {background: #d7d7d7;}
h1,h2,h3,h4 {font-family: 'Montserrat', sans-serif;}
.container {background: #ffffff;}
.main-background {
    background: #fff url(../images/main-background.jpg) no-repeat center top;
    padding: 40px auto;
}
.pre-nav {
    height: 80px;
    .lang-switcher {
        position: fixed;
        right: 30px;
        top: 30px;
    }
}
// Gallery items
.portfolio-item {
    background: black;
    img.img-responsive {
        min-width: 100%;
    }
    img.main-logo {
        display: block;
        margin:auto;
        padding-top:70px;
    }

    .portfolio-link {

        img {
            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
            filter: gray; /* IE6-9 */
            -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
        }
        img:hover {
            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
            -webkit-filter: grayscale(0%);
            filter: none;
            filter: none;
            filter: none;
            -webkit-filter: none;
        }

    }
}

// Contact
.contact {
    .social-links {
        li {
            i {
                font-size: 35px;
                margin-right: 20px;
                color: #000000;
                &:hover {
                    color:#b0d058;
                }
            }
        }
    }
    margin-top:50px;
    margin-bottom: 50px;
    .padding {
        padding: 0 50px 0 150px;
        h2 {
            margin-top: 0;
        }
        p,ul,li {
            font-family: Georgia, sans-serif;
            font-size: 18px;}
        li {
            font-size: 14px;}
        ul {
            margin:0;
            padding:0 0 20px 0;
            li {
                margin:0;
                list-style: none;
            }
        }
    }
    // form
    .contact-form {
        padding:30px 100px 0 100px;
        .form-control {
            border-radius: 0;
            box-shadow: none;
            border: 1px solid #000000;
            padding: 30px 20px;
            font-family: 'Lato', sans-serif;
        }
        .btn {
            background: #9a977a;
            border-radius: 0;
            border:0;
        }
    }
}

// About
.about {
    .about-text {
        background: #b0d058;
        h3 {
            margin:30px;
            color: #fff;
        }
        p {
            margin:30px;
            color: #fff;
        }
    }
}
// Lang switcher
.lang-switcher {
  list-style: none;
  img {
    &:hover {
      cursor: pointer;
    }
  }
}
@media (max-width: 1200px) {
  .portfolio-item {
    img.main-logo {
        padding-top:65px;
        width: 90%;
    }
  }
}
@media (max-width: 768px) {
  .portfolio-item {
    img.main-logo {
        padding:20px 0;
        width: 30%;
    }
  }
}

#map {
    height: 400px;
}
.social {
  padding:50px 0 50px 0;
}
/* firefox fix */
.img-responsive {
    width: 100%;
}

/* vertical alignment styles */
.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}
/* columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}

.modal-backdrop.in {
  -webkit-opacity: 0.95;
  -moz-opacity: 0.95;
  opacity: 1;
  background-color: #000000;
}
.ekko-lightbox .modal-content {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  background-color: transparent;
}
.ekko-lightbox .modal-header {
  border: 0;
  padding-left: 0;
  padding-right: 0;
}
.ekko-lightbox .modal-header .close {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  color: #fff;
  text-shadow: 0;
  font-weight: 100;
  margin-top: 5px;
}
.ekko-lightbox .modal-header .close:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.ekko-lightbox .modal-header h4.modal-title {
  font-weight: 100;
  color: #fff;
  padding: 0 0 10px 0;
}
.ekko-lightbox .modal-body {
  padding: 0;
}
.ekko-lightbox .modal-footer {
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
  border: 0;
  color: #fff;
  font-weight: 100;
  padding: 0;
}
.ekko-lightbox-nav-overlay a {
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
  text-shadow: none;
}
/*!
 * Lightbox for Bootstrap 3 by @ashleydw
 * https://github.com/ashleydw/lightbox
 *
 * License: https://github.com/ashleydw/lightbox/blob/master/LICENSE
 */.ekko-lightbox-container{position:relative}.ekko-lightbox-nav-overlay{position:absolute;top:0;left:0;z-index:100;width:100%;height:100%}.ekko-lightbox-nav-overlay a{z-index:100;display:block;width:49%;height:100%;padding-top:45%;font-size:30px;color:#fff;text-shadow:2px 2px 4px #000;opacity:0;filter:dropshadow(color=#000000,offx=2,offy=2);-webkit-transition:opacity .5s;-moz-transition:opacity .5s;-o-transition:opacity .5s;transition:opacity .5s}.ekko-lightbox-nav-overlay a:empty{width:49%}.ekko-lightbox a:hover{text-decoration:none;opacity:1}.ekko-lightbox .glyphicon-chevron-left{left:0;float:left;padding-left:15px;text-align:left}.ekko-lightbox .glyphicon-chevron-right{right:0;float:right;padding-right:15px;text-align:right}.ekko-lightbox .modal-footer{text-align:left}